.wrapper {
    display:flex;
    flex-shrink: 0;
    justify-content: space-around;
    padding: 20px 5px;
    background-color: white;
    box-shadow: 0 10px 10px -15px rgba(0,0,0,0.75);
}

.input {
    width: 80%;
    border:0;
  border-bottom: 2px solid grey;
  text-align: center;
  margin-left: 10px;
  background-color: hsl(0, 0%, 90%);
  outline: none;
}

.wrapper .headerButton {
    font-size: 12px;
    color: white;
  text-decoration: none;
  padding: 2px 12px;
  font-weight: 700;
  background: #1e58ff;
  cursor: pointer;
  border-style: none;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  outline: none;
}

